@charset "UTF-8";
/* 共通部分 */
html {
    font-size: 100%;
    overflow-x: hidden;
}

body {
    font-family: "Yu Gothic Medium","游ゴシック Medium",YuGothic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
    line-height: 1.7;
    color: #262626;
    background-color: #FBFCFC;
    overflow-x: clip;
    font-size: 20px;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: auto;
    margin: 0 auto;
    margin: 0 3%;
}

.flexbox {
    display: flex;
    margin: 0 auto;
}

.hover-link {
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.hover-link:hover {
    color: #50B4AA;
}

.section {
    margin: 30px 30px 30px 0;
}

/* ログイン部分 */
.contact_box {
    text-align: center;
}

.contact_box p {
    background-color: #dfeeea;
    width: 40%;
    margin: 0 auto;
    text-align: left;
}

.button_LogIn {
    background-color: #50B4AA;
}

/* トップページ部分 */
/* PCのみ表示 */

#PC {
    display: block;
}

#mobile {
    display: none;
}

.section h1 {
    font-size: 32px;
    margin: 20px 0 30px 0;
    border-bottom: 1.5px solid #848484;
}

.section h2, .top_account_section h1 {
    font-size: 20px;
    padding: 12px 0 12px 0;
    border-bottom: 1.5px solid #D2D2D2;
    margin-bottom: 12px;
}

.section h3, .top_account_section h2 {
    border-bottom: 1.5px solid #D2D2D2;
}

.top_account_section {
    width: 90%;
    margin-bottom: 50px;
    padding: 20px;
    border: 1.5px solid #94C3B6;
}

.top_account_section img {
    width:13%;
    margin-right: 20px;
}

.top_account_section h1 {
    font-size: 28px;
    border-bottom: none;
}

.top_account_section h2 {
    margin-top: 24px;
}

.LogOut{
    width: 24%;
    margin: 0 auto;
}

.LogOut_button {
    display: block;
    background-color: #F4A5A7;
    color: #fff;
    margin: 20px 0 10px 0;
    padding: 5px 16px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.LogOut_button:hover {
    background-color: #FDCACB;
}

.top_document_section img {
    margin-bottom: 5px;
}

.top_data_link {
    margin: 0 20px 20px 60px;
    border: 2.5px solid #94C3B6;
    border-radius: 50px;
}

.top_data_link h2 {
    margin: 2px 0 2px 0;
    padding: 8px 20px 8px 30px;
    border-bottom: none;
}

.top_CreatedDocument_section {
    border: none;
    width: 48%;
    font-size: 17px;
}

.top_CreatedDocument_section h2{
    border: none;
    margin: 20px 0 0 0; 
    padding: 0;
}

.top_CreatedDocument_section h3{
    font-size: 16px;
    width: 180px;
    margin: 10px 0 0 auto;
}

.top_CreatedDocument_section img{
    width: 13%;
    margin-bottom: 3px;
}

.top_CreatedDocument_section table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.top_CreatedDocument_section tr{
    border: solid 1px #dbdada;
    cursor: pointer;
}

.top_CreatedDocument_section table th,table td{
    text-align: center;
    width: 20%;
    padding:  0 0 15px 0;
}

/* タブレット: 1024px〜 */
@media screen and (max-width: 1024px) {
    #PC {
        display: none; /* PCの時は非表示 */
    }

    #mobile {
        display: block;
    }

    .section h1 {
        font-size: 24px;
        margin: 20px 0 30px 0;
        border-bottom: 1.5px solid #848484;
    }

    .section h2{
        font-size: 18px;
        padding: 12px 0 12px 0;
        border-bottom: 1.5px solid #D2D2D2;
        margin-bottom: 12px;
    }

    .section h3, .top_account_section h2 {
        border-bottom: 1.5px solid #D2D2D2;
    }

    .top_account_section {
        width: 90%;
        margin-bottom: 50px;
        padding: 20px;
        border: 1.5px solid #94C3B6;
    }

    .top_account_section img {
        width:20%;
        margin-right: 20px;
    }

    .top_account_section h1 {
        font-size: 20px;
        border-bottom: none;
    }

    .top_account_section h2 {
        margin-top: 24px;
    }

    .LogOut{
        width: 160px;
        margin: 0 auto;
    }

    .LogOut_button {
        display: block;
        background-color: #F4A5A7;
        color: #fff;
        margin: 20px 0 10px 0;
        padding: 5px 16px;
        border-radius: 30px;
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        transition: background-color 0.3s ease;
    }

    .LogOut_button:hover {
        background-color: #FDCACB;
    }

    .top_document_section img {
        padding-left: 22px;
        margin-bottom: 5px;
    }

    .top_document_section h2 {
        width: 230px;
        margin-bottom: 5px;
        padding-left: 5px;
    }

    .top_document_section h3 {
        width: 130px;
        font-size: 16px;
        margin: 20px 22px 50px auto;
        text-align: right;
    }

    .top_document_section h3 img{
        width: 18%;
        padding: 0;
    }

    .top_data_link {
        max-width: 400px;
        margin: 30px 20px 0 0;
        border: 2.5px solid #94C3B6;
        border-radius: 20px;
    }

    .top_data_link h2 {
        font-size: 16px;
        margin: 2px 0 2px 0;
        padding: 4px 0 4px 10px;
        border-bottom: none;
    }

    .top_data_link img {
        width: 20%;
        margin-bottom: 3px;
    }


    .top_check_section h2{
        width: 140px;
        background-color: #94C3B6;
        border-radius: 10px;
        text-align: center;
        margin: 0 22px 30px 0;
    }


}

