<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>遊具管理システム | 書類一覧</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <div class="header_title"><a href="index.html"><h1>遊具管理システム</h1></a></div>
            <div class="alert"></div>
            <div class="openbtn"><span></span><span></span><span></span></div>
        </header>
        <div class="wrapper">
            <div class="flexbox">
                <div class="section">
                    <div class="AllDocuments_search_section">
                        <p id="page_route">トップ > 書類一覧</p>
                        <h1>書類一覧</h1>
                        <h2>検索</h2>
                        <div class="AllDocuments_search_year">
                            <label for="years">点検年度</label>
                            <select id="years_box" name="years">
                                <option value="all" selected>すべて</option>
                                <option value="3">令和７年度</option>
                                <option value="2">令和６年度</option>
                                <option value="1">令和５年度</option>
                            </select>
                        </div>
                        <label for="parks">公園名</label>
                        <input type="search" name="search" placeholder="キーワードを入力">
                        <label for="author">作成者名</label>
                        <input type="search" name="search" placeholder="キーワードを入力">
                        <input type="submit" name="submit" value="検索">
                    </div>
                </div>
            </div>
            <div class="section AllDocuments_list_section">
                <h2>日報</h2>
                <table>
                    <tr>
                        <th>書類名</th>
                        <th>作成者</th>
                        <th>最終更新日時</th>
                    </tr>
                    <tr>
                        <td>令和✕年度〇〇公園結果報告書</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日<button class="AllDocuments_list_EditButton">編集</button><button class="AllDocuments_list_DeleteButton">削除</button></td>
                    </tr>
                </table>
            </div>
            <div class="section AllDocuments_list_section">
                <h2>結果報告書</h2>
                <table>
                    <tr>
                        <th>書類名</th>
                        <th>作成者</th>
                        <th>最終更新日時</th>
                    </tr>
                    <tr>
                        <td>令和✕年度〇〇公園結果報告書</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日<button class="AllDocuments_list_EditButton">編集</button><button class="AllDocuments_list_DeleteButton">削除</button></td>
                    </tr>
                </table>
            </div>
            <div class="section AllDocuments_list_section">
                <h2>点検チェックシート</h2>
                <table>
                    <tr>
                        <th>書類名</th>
                        <th>作成者</th>
                        <th>最終更新日時</th>
                    </tr>
                    <tr>
                        <td>令和✕年度〇〇公園結果報告書</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日<button class="AllDocuments_list_EditButton">編集</button><button class="AllDocuments_list_DeleteButton">削除</button></td>
                    </tr>
                </table>
            </div>
        </div>
        <footer>

        </footer>
    </body>
</html>