<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>遊具管理システム | 劣化進行・予測ページ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
        <link rel="stylesheet" href="CSS/style.css">
        <link rel="icon" href="{{ url_for('static', filename='icon/flask.png')}}">
    </head>
    <body>
        <header class="header">
            <div class="flexbox">
                <h1><a href="{{ url_for(index.html') }}">遊具管理システム</a></h1>
                <div class="account_toggle" id="mobile">
                    <img src="{{ url_for('static', filename='img/Icon.svg') }}" alt="アカウント" id="accountIcon">
                </div>
                <button><img src="{{ url_for('static', filename='img/bell.png') }}"></button>
                <div class="nav_wrapper">
                    <input type="checkbox" id="nav_toggle" hidden>
                    <label class="nav_icon" for="nav_toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </label>
                    <div class="overlay"></div>
                    <nav class="nav">
                        <ul>
                            <li><a href="{{ url_for('index') }}">トップページ</a></li>
                            <li><a href="{{ url_for('daily_report') }}">日報作成</a></li>
                            <li><a href="{{ url_for('results_report') }}">結果報告書作成</a></li>
                            <li><a href="{{ url_for('CheckSheet') }}">点検チェックシート</a></li>
                            <li><a href="{{ url_for('Deterioration') }}">劣化進行・劣化予測</a></li>
                            <li><a href="{{ url_for('PhotoViewing') }}">写真閲覧</a></li>
                            <li><a href="{{ url_for('AllDocuments') }}">書類一覧</a></li>         
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div class="wrapper">
            <p id="page_route"><a href="{{ url_for('index') }}">トップ</a> > <a href="{{ url_for('Deterioration') }}">劣化進行・予測</a></p>
        </div>
    </body>
</html>
