<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>遊具管理システム | トップページ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/destyle.css@1.0.15/destyle.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <header>
            <div class="header_title"><a href="index.html"><h1>遊具管理システム</h1></a></div>
            <div class="alert"></div>
            <div class="openbtn"><span></span><span></span><span></span></div>
        </header>
        <div class="wrapper">
            <div class="flexbox">
                <div class="section">
                    <h1>アカウント</h1>
                    <div class="top_account_section">
                        <div class="flexbox">
                            <img src="{{ url_for('static', filename='img/Icon.svg') }}" alt="アイコン">
                            <h1>{{ user_name }}さん</h1>
                        </div>
                        <h2>ＩＤ：{{employee_id}}</h2>
                        <h2>管理している公園：</h2>
                        <div class="LogOut"><a href="#" class="LogOut_button">ログアウト</a></div>
                    </div>
                    <div class="top_document_section" id="mobile"><!-- スマホ・タブレットのみ -->
                        <h1>書類作成・データ</h1>
                        <a href="{{ url_for('daily_report') }}" class="hover-link"><h2>日報作成　　　　　<img src="img/arrow_button1.png"></h2></a>

                        <a href="{{ url_for('inspection_results') }}" class="hover-link"><h2>結果報告書作成　　<img src="img/arrow_button1.png"></h2></a>

                        <a href="{{ url_for('CheckSheet') }}" class="hover-link"><h2>点検チェックシート<img src="{{ url_for('static', filename='img/arrow_button1.png') }}"></h2></a>

                        <a href="{{ url_for('AllDocuments') }}" class="hover-link"><h3>書類一覧　　<img src="{{ url_for('static', filename='img/arrow_button1.png')}}"></h3></a>

                        <div class="top_data_link"><a href class="hover-link"><h2>劣化進行記録・劣化予測<img src="{{ url_for('static', filename='img/arrow_button2.png')}}"></h2></a></div>

                        <div class="top_data_link"><a href="{{ url_for('PhotoViewing') }}"class="hover-link"><h2>写真閲覧　　　　　<img src=""{{ url_for('static', filename='img/arrow_button2.png')}}"></h2></a></div>

                    </div>
                    <div class="top_document_section" id="PC"><!-- PCのみ -->
                        <h1>書類作成・データ</h1>
                        <div class="flexbox">
                            <div>
                                <a href="{{ url_for('daily_report') }}" class="hover-link"><h2>日報作成　　　　　<img src="{{ url_for('static', filename='img/arrow_button1.png')}}"></h2></a>
                                <a href="{{ url_for('inspection_results') }}" class="hover-link"><h2>結果報告書作成　　<img src="{{ url_for('static', filename='img/arrow_button1.png')}}"></h2></a>
                                <a href="{{ url_for('CheckSheet') }}" class="hover-link"><h2>点検チェックシート<img src="{{ url_for('static', filename='img/arrow_button1.png')}}"></h2></a>
                                <a href="{{ url_for('PhotoViewing') }}" class="hover-link"><h2>写真撮影<img src="{{ url_for('static', filename='img/arrow_button1.png')}}"></h2></a>
                            </div>
                            <div>
                                <div class="top_data_link"><a href class="hover-link"><h2>劣化進行記録・劣化予測<img src="{{ url_for('static', filename='img/arrow_button2.png')}}"></h2></a></div>
                                <div class="top_data_link"><a href="{{ url_for('PhotoViewing') }}"class="hover-link"><h2>写真閲覧　　　　　　　<img src="{{ url_for('static', filename='img/arrow_button2.png')}}"></h2></a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section top_check_section" id="mobile"><!-- スマホ・タブレットのみ -->
                    <h1>遊具点検</h1>
                    <div class="flexbox">
                        <h2><a href="#">ブランコ</a></h2>
                        <h2><a href="#">すべり台</a></h2>
                    </div>
                    <div class="flexbox">
                        <h2><a href="#">ジャングルジム</a></h2>
                        <h2><a href="#">鉄棒</a></h2>
                    </div>
                    <div class="flexbox">
                        <h2><a href="#">複合遊具</a></h2>
                        <h2><a href="#">砂場</a></h2>
                    </div>
                    <div class="flexbox">
                        <h2><a href="#">健康遊具</a></h2>
                        <h2><a href="#">ターザンロープ</a></h2>
                    </div>
                    <h2><a href="#">シーソー</a></h2>
                </div>
                <div class="section top_CreatedDocument_section" id="PC"><!-- PCのみ -->
                    <h1>過去に作成された書類</h1>
                    <h2>日報</h2>
                    <table>
                    <tr>
                        <th>書類名</th>
                        <th>作成者</th>
                        <th>最終更新日時</th>
                    </tr>
                    <tr>
                        <td>令和✕年✕月✕日〇〇公園日報</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    <tr>
                        <td>令和✕年✕月✕日〇〇公園日報</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    <tr>
                        <td>令和✕年✕月✕日〇〇公園日報</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    </table>
                    <h2>結果報告書</h2>
                    <table>
                    <tr>
                        <th>書類名</th>
                        <th>作成者</th>
                        <th>最終更新日時</th>
                    </tr>
                    <tr>
                        <td>令和✕年度〇〇公園結果報告書</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    <tr>
                        <td>令和✕年度〇〇公園結果報告書</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    <tr>
                        <td>令和✕年度〇〇公園結果報告書</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    </table>
                    <h2>点検チェックシート</h2>
                    <table>
                    <tr>
                        <th>書類名</th>
                        <th>作成者</th>
                        <th>最終更新日時</th>
                    </tr>
                    <tr>
                        <td>令和✕年度通常点検チェックシート</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    <tr>
                        <td>令和✕年度通常点検チェックシート</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    <tr>
                        <td>令和✕年度通常点検チェックシート</td>
                        <td>△△△△</td>
                        <td>✕✕年✕月✕日</td>
                    </tr>
                    </table>
                    <h3 class="hover-link">書類一覧　　　　　<img src="{{ url_for('static', filename='img/arrow_button1.png')}}"></a></h3>
                </div>
            </div>
        </div>
        <footer>

        </footer>
    </body>
</html>